
@{
    ViewBag.Title = "BarChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BarChart</h2>
<form id="Map" name="Map" action="BarChart" method="POST">
    <tr>
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Date" class="col-sm-2 control-label">From</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Date" name="Date">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="Date" class="col-sm-2 control-label">To</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Date2" name="Date2">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Date" class="col-sm-2 control-label">District</label>
                        <div>
                            <select class="form-control" id="District" name="District">
                                <option value="" selected>Select District</option>
                                @foreach (var District in ViewBag.District)
                                {
<<<<<<< HEAD
                                    <option value="@District.DistrictName">@District.DistrictName</option>
=======
                                    <option value="@District.DistrictId">@District.DistrictName</option>
>>>>>>> c1402b73e19300b196c83b73a73890cad785c55a
                                }
                            </select>
                        </div>
                    </div>

                </td>
                <td>
                    <button type="submit" class="btn btn-primary" name="showreport" id="showreport">Show Report</button>
                </td>
            </tr>
        </table>
    </tr>
</form>
<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
<<<<<<< HEAD
    google.load("visualization", "1.1", { packages: ["bar"] });
    google.setOnLoadCallback(drawStuff);

    function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Disease', 'Total'],
          ["Alergy", @ViewBag.alergy],
          ["Fever", @ViewBag.fever],
          ["Dengo", @ViewBag.dengo],
          ["Malaria", @ViewBag.malaria],
          ["Influenza", @ViewBag.influenza]
            
=======
        google.load("visualization", "1.1", { packages: ["bar"] });
        google.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.arrayToDataTable([
              ['Disease', 'Total'],
              ["Influenza", 44],
              ["Fever", 31],
              ["Malaria", @ViewBag.malaria],
              ['Other', 3]
>>>>>>> c1402b73e19300b196c83b73a73890cad785c55a
            ]);

            var options = {
                title: 'Disrict Report Date: @ViewBag.fromdate To @ViewBag.todate',
<<<<<<< HEAD
            width: 900,
            legend: { position: 'none' },
            chart: { subtitle: 'Disease Report' },
            axes: {
                x: {
                    0: { side: 'top', label: 'White to move' } // Top x-axis.
                }
            },
            bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
    };
=======
                width: 900,
                legend: { position: 'none' },
                chart: { subtitle: 'Disease Report' },
                axes: {
                    x: {
                        0: { side: 'top', label: 'White to move' } // Top x-axis.
                    }
                },
                bar: { groupWidth: "90%" }
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            // Convert the Classic options to Material options.
            chart.draw(data, google.charts.Bar.convertOptions(options));
        };
>>>>>>> c1402b73e19300b196c83b73a73890cad785c55a
    </script>
</head>
<body>
    <div id="top_x_div" style="width: 900px; height: 400px;"></div>
</body>
</html>
@section myCss{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

}
@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {

            $("#Date").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#Date2").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
}